<html>
    <head>
        <title>Get Recipe List</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        {%if posts%}
            <p>Result fetched</p>
        {%else%}
            <p>Result not fetched</p>
        {%endif%}
        <table border="1">
            <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            {%for post in posts%}
            <tr>
                <td>{{post.id|default('NA')}}</td>
                <td>{{post.name|default('NA')}}</td>
                <td>{{post.desc|default('NA')}}</td>
                <td>{{post.price|default('NA')}}</td>
            </tr>
            {%endfor%}
        </table>
    </body>
</html>

    

