<html>
    <head>
        <title>Spoonacular api</title>
    </head>
    <body>
        <nav>
            <a href="{{url_for('get_recipe')}}">Get recipe endpoint</a><br><br>
            <a href="{{url_for('get_recipe_list')}}">Get recipe List endpoint</a><br><br>
            <a href="{{url_for('burgers')}}">Get Burgers</a><br><br>
            <a href="{{url_for('keto_diet')}}">keto diet</a><br><br>
            <a href="{{url_for('get_recipe1')}}">Get customised recipe</a><br><br>
        </nav>
    </body>
</html>

    

