<html>
    <head>
        <title>GetFilter</title>
    </head>
    <body>
        {%if posts%}
        <p>Data fetched successfully</p>
        {%else%}
        <p>Error in fetching data</p>
        {%endif%}
        <table border="1">
            <tr>
                <th>city</th>
                <th>company</th>
                <th>company_employee_range</th>
            </tr>
            {%for post in posts%}
                <tr>
                    <td>{{post.city|default('NA')}}</td>
                    <td>{{post.company|default('NA')}}</td>
                    <td>{{post.company_employee_range|default('NA')}}</td>
                </tr>
            {%endfor%}
            </table>
        </body>
</html>
